{
  "extends": "../../tsconfig.spec.json",
  "compilerOptions": {
    "rootDir": "./src",
    "outDir": "./out-tsc/vitest"
  },
  "references": [
    {
      "path": "./tsconfig.lib.json"
    }
  ]
}
