{
    "extends": "../../tsconfig.spec.json",
    "compilerOptions": {
        "outDir": "./out-tsc/vitest",
    },
    "include": [
        "vitest.config.mts",
        "src/**/*.spec.ts",
    ],
    "references": [
        {
            "path": "./tsconfig.lib.json"
        }
    ]
}