export default {
  root: import.meta.dirname,
  cacheDir: '../../node_modules/.vite/<%- projectName %>',
  test: {
    name: '<%- projectName %>',
    watch: false,
    globals: true,
    include: ['./src/**/*.spec.ts'],
    coverage: {
      reportsDirectory: './out-tsc/vitest/coverage',
    },
  },
};
