APP_NAME="<%- fileName %>"
APP_ID="<%- fileName %>"
APP_DESCRIPTION="<%- fileName %>"
APP_PORT=3000
DB_URL="postgresql://<%- orgName %>:password@localhost:5432/<%- orgName %>_db?schema=<%- fileName %>"
DB_SCHEMA="<%- fileName %>"
