import { ObjectType, Prop, StringArray } from '@aenode/nestjs/graphql';

/**
 * <%- className %> object
 */
@ObjectType()
export class <%- className %> {
  @Prop() id?: number;
  @Prop() name?: string;
  @Prop() description?: string;
  @Prop() tags?: StringArray;
  @Prop() dueDdate?: Date;
}
