generator client {
    provider = "prisma-client"
    output   = "../src/generated/prisma"
}

datasource db {
    provider = "postgresql"
}

model Sample {
    id Int @id @default(autoincrement())

    createdAt DateTime  @default(now()) @map("created_at") @db.Timestamptz(6)
    updatedAt DateTime  @updatedAt @map("updated_at") @db.Timestamptz(6)
    deletedAt DateTime? @map("deleted_at") @db.Timestamptz(6)
    isActive  Boolean?  @default(true) @map("is_active")

    name String

    @@map("samples")
}
